{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" /> 
 
<head>
<title>ITILITY</title>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body>

<div class="header-color-block">
        
    <a href="/homepage/"><img src="{% static 'homepage/images/ITILITY_LOGO.png' %}" /></a>
    <br><br>
    
    <div class="header-menu-div">

            &nbsp<a href="/homepage/"><img src="{% static 'homepage/images/ITILITY_LOGO_ARROW.png' %}" style="vertical-align:bottom; float:left" /></a>
            <span class="header-menu-text">
                <br><br><br><br>
                <a class="header-menu-link" href="/homepage/assets">Assets</a>
                &nbsp &nbsp &nbsp &nbsp &nbsp
                <a class="header-menu-link" href="/homepage/locations">Locations</a>
                &nbsp &nbsp &nbsp &nbsp &nbsp
                <a class="header-menu-link" href="/homepage/manufacturers">Manufacturers</a>
                &nbsp &nbsp &nbsp &nbsp &nbsp
                <a class="header-menu-link" href="#">Admin</a>
                &nbsp &nbsp &nbsp &nbsp &nbsp
                <a class="header-menu-link" href="#">Contact Us</a>
                &nbsp &nbsp &nbsp &nbsp &nbsp
            </span>

    </div>
</div>
 
<div class="main-half-div">
<!-- HEADER --> 
 
 
<div class="main-text">
    <h2>Welcome to Itility!</h2>
    <p>
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam bibendum magna odio, sed consequat est dignissim vel. Aenean sapien justo, suscipit eu est et, ullamcorper dictum risus. Suspendisse potenti. Suspendisse quis turpis nibh. Mauris vitae mattis nulla. Sed vitae pellentesque orci. Vivamus lacinia iaculis tincidunt.
    </p>
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec porttitor tempus sem, cursus consequat risus lacinia quis. Nam sapien urna, convallis sed quam at, placerat pretium odio. Cras nec ipsum arcu. Aenean consectetur volutpat diam eu commodo. Nunc augue ipsum, ultrices at orci hendrerit, auctor sodales neque. Donec cursus lectus dignissim quam lacinia scelerisque. Nunc dapibus, dolor in tincidunt scelerisque, dolor odio pulvinar ipsum, id suscipit massa nulla vel sem. Nulla ac mollis ligula. Donec accumsan tellus sed neque efficitur tristique quis id enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis scelerisque lacinia elit tristique faucibus. Quisque viverra malesuada lobortis. Suspendisse potenti. Curabitur id venenatis ex. Fusce mollis auctor justo nec auctor.
    </p>
    <p>
        Nulla fermentum libero eu congue accumsan. Maecenas a consequat velit, quis venenatis lectus. Maecenas egestas condimentum nulla non sollicitudin. Vestibulum nisl justo, dapibus nec nunc at, consectetur lobortis orci. Nullam quis turpis risus. Quisque vel facilisis mauris. Vivamus fringilla, dui vel scelerisque tincidunt, purus ipsum sagittis mauris, ac dapibus erat sem et ipsum. Pellentesque ut neque ullamcorper, maximus dolor nec, lacinia mi. Donec id magna laoreet, pharetra purus a, congue nisi. Duis facilisis et lacus nec sodales. In non blandit mauris, eu auctor turpis. In elementum luctus mi, eu vehicula lorem elementum at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam consectetur nunc vitae quam efficitur, ut eleifend felis ultricies. In imperdiet iaculis metus in vestibulum.
    </p>
    <p>
        Sed semper pellentesque malesuada. Ut nulla ante, finibus in nibh sed, convallis viverra orci. Nulla feugiat scelerisque lorem, quis pulvinar dui lacinia in. Donec feugiat leo et nibh varius, sit amet varius mauris aliquam. Pellentesque pharetra massa ac nulla fringilla, sit amet finibus felis bibendum. Vestibulum non velit eu leo aliquam molestie. Vestibulum vestibulum dui non felis laoreet, eu pellentesque justo ullamcorper. Cras volutpat dignissim nisl, sit amet laoreet felis elementum ac.
    </p>
    <p>
        Mauris gravida neque id tincidunt elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus vulputate lacus libero, vitae sagittis nunc aliquam eu. Aenean non dui enim. Duis et egestas nibh. Cras ut vulputate est, sit amet tempor lectus. Nam pharetra sed turpis eget mollis. Nam nibh lacus, aliquet vel lacus at, ullamcorper consectetur felis. Aliquam venenatis aliquet facilisis.
    </p>
    <p>
        Suspendisse in bibendum orci. Integer sodales ornare ipsum eu bibendum. Pellentesque id consectetur ipsum, id maximus lorem. Duis lobortis enim ac blandit dictum. Nullam fringilla sapien quis condimentum scelerisque. Integer ex sapien, consequat at ex et, dictum volutpat odio. Donec et imperdiet nunc. Duis eu luctus turpis. Curabitur dignissim tellus id euismod sodales. Integer vel sem sit amet libero tristique luctus. Maecenas eu sapien diam.
    </p>
</div>


<!-- FOOTER (CLOSES DIV FROM ABOVE -->
</div>    
